USE [IN5_CAISSE]
GO
/****** Objet :  StoredProcedure [dbo].[SP_SupprimerCaissier]    Date de génération du script : 04/14/2012 22:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_SupprimerCaissier]
( @CAISSIER_ID int )

as 

begin transaction

alter table OCCUPATION 
NOCHECK CONSTRAINT FK_OCCUPATI_ASSOCIATI_CAISSIER

alter table COMMANDE 
NOCHECK CONSTRAINT FK_COMMANDE_EFFECTUER_CAISSIER

delete from COMMANDE WHERE COMMANDE.CAISSIER_ID=@CAISSIER_ID

delete from CAISSIER where CAISSIER.CAISSIER_ID=@CAISSIER_ID

delete from OCCUPATION WHERE OCCUPATION.CAISSIER_ID=@CAISSIER_ID

alter table COMMANDE 
CHECK CONSTRAINT FK_COMMANDE_EFFECTUER_CAISSIER

ALTER TABLE OCCUPATION 
CHECK CONSTRAINT FK_OCCUPATI_ASSOCIATI_CAISSIER

commit transaction