USE [IN5_CAISSE]
GO

ALTER procedure [dbo].[SP_SupCaissierSeul]

( @CAISSIER_ID int )

as 

begin transaction

alter table OCCUPATION 
NOCHECK CONSTRAINT FK_OCCUPATI_ASSOCIATI_CAISSIER

alter table COMMANDE 
NOCHECK CONSTRAINT FK_COMMANDE_EFFECTUER_CAISSIER

delete from CAISSIER where CAISSIER.CAISSIER_ID=@CAISSIER_ID

alter table COMMANDE 
CHECK CONSTRAINT FK_COMMANDE_EFFECTUER_CAISSIER

ALTER TABLE OCCUPATION 
CHECK CONSTRAINT FK_OCCUPATI_ASSOCIATI_CAISSIER

commit transaction


ALTER PROCEDURE SP_SuppClientSeul
( @CLT_MAT INT ) 

AS 

BEGIN TRANSACTION

 ALTER TABLE COMMANDE
 NOCHECK CONSTRAINT FK_COMMANDE_ASSOCIATI_CLIENT

 DELETE FROM CLIENT WHERE CLIENT.CLT_MAT=@CLT_MAT

  ALTER TABLE COMMANDE
  CHECK CONSTRAINT FK_COMMANDE_ASSOCIATI_CLIENT

COMMIT TRANSACTION


ALTER procedure [dbo].[SP_SuppArticleSeul]
( @ART_ID int )

AS 

BEGIN TRANSACTION

ALTER TABLE COMMANDE_OF_ARTICLE
NOCHECK CONSTRAINT FK_COMMANDE_COMMANDE__ARTICLE

ALTER TABLE TARIF_OF_ARTICLE
NOCHECK CONSTRAINT FK_TARIF_OF_TARIF_OF__ARTICLE

DELETE FROM ARTICLE where ARTICLE.ART_ID=@ART_ID

ALTER TABLE COMMANDE_OF_ARTICLE
CHECK CONSTRAINT FK_COMMANDE_COMMANDE__ARTICLE

ALTER TABLE TARIF_OF_ARTICLE
CHECK CONSTRAINT FK_TARIF_OF_TARIF_OF__ARTICLE

COMMIT TRANSACTION

GO


